@import url("https://fonts.googleapis.com/css2?family=Cantata+One&family=Space+Grotesk:wght@300&display=swap");

/* 
colors:
04E762
EAEBED
00A1E4
DC0073
89FC00
*/

* {
  font-family: "Space Grotesk", sans-serif;
  font-size: 18px;
}
