.post {
  position: relative;
  left: 20%;
  width: 50%;
  min-height: 200px;
  padding: 1em;
  background-color: hsl(220, 8%, 92%);
  margin: 0 5% 2em 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 1000px) {
  .post {
    left: 0;
    width: 90%;
  }
}

.postText {
  margin-top: 0.5em;
  word-wrap: break-word;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #dc0073;
}

.delete:hover {
  color: #dc0000;
}

.control {
  position: absolute;
  bottom: 0;
  right: 0;
}
